@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AnimalShopProject.Models.Animal

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/homepage.css" rel="stylesheet" type="text/css" asp-append-version="true">

</head>
<body>
    <h1 class="header">The Best Pet Shop In Town!</h1>
    <p class="p">You are watching at @Model.Name</p>

     <table style="table-layout:unset;" class="table table-bordered table-responsive">
      <tr>
        <th>Portrait</th>
        <th>Name</th>
        <th>Description</th>
        <th>Age</th>
        <th>Category Name</th>
        <th>All Comments</th>
        <th>Add Comment</th>
      </tr>
      <tr>
        <td> <img class="images" src=" @Model.PictureName"/></td>
        <td>@Model.Name</td>
        <td>@Model.Description </td>
        <td>@Model.Age</td>
        <td>@Model.Category!.Name</td>
        <td> @foreach (var comment in Model.Comments!)
        {
            <div class="commentSection">
                 <p>@comment.Text</p>
            </div>
        }
        </td>
        <td>
             @using(Html.BeginForm("AddComment", "Catalog", new {animalId=Model.Id}, FormMethod.Post))
           {
            @Html.TextBox("comment", null, new {animalId=Model.Id})

             <input class="btn btn-outline-success active mt-lg-3" type="submit" value="Add Comment"/>
             }
        </td>
      </tr>

    </table> 
   
    
</body>
</html>

